In [2]:
from qvd import qvd_reader
import pandas as pd

In [3]:
# Parseador de datos
def convert_dtypes(df, exclude_columns=[]):
    cols = df.columns
    for c in cols:
        if c not in exclude_columns:
            try:
                df[c] = pd.to_numeric(df[c])
            except:
                pass

In [4]:
# Importamos archivos qdv
pv = qvd_reader.read('data/Precio_venta.qvd')
vp = qvd_reader.read('data/Volumen_Prod.qvd')

# Convertimos los tipos de datos
convert_dtypes(pv)
convert_dtypes(vp)

In [5]:
pv

,Planta,Pais,Cliente,Periodo,Producto,Ventas(ADT),Ingresos,Devoluciones
0,Nueva Aldea,China,ZHEJIANG WELBON PULP,2021005,BKP,508.820,-447634.40,4476.34
1,Arauco,China,ZHEJIANG WELBON PULP,2021006,BKP,3730.484,-3446141.26,34461.41
2,Nueva Aldea,China,ZHEJIANG WELBON PULP,2021006,BKP,4960.603,-4621408.67,46214.08

In [6]:
vp

    Pais  Periodo    Planta Producto   Volumen
0  Chile  2021006  Valdivia       DP  39404.30
1  Chile  2021005  Valdivia       DP  41335.38